<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	
		
	<script type="text/javascript" src="js/main.js"></script>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	
    <!-- 공통 헤드-->
    <head th:replace="/layout/fragments/head :: headFragment"></head>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <sidebar th:replace="/layout/fragments/sidebar :: sidebarFragment" class="layout_sidebar"></sidebar>

			<div id="content-wrapper" class="d-flex flex-column">
				
				<div id="content">
					<!-- 상단바-->
					<top th:replace="/layout/fragments/top :: topbarFragment"
					class="layout_top"></top>
					
				<!-- 본문-->
				<th:block th:replace="/todo :: todoListFragment" class="container-fluid">
					
				</th:block>
				</div>
				<!-- 공통 하단-->
				<footer th:replace="/layout/fragments/footer :: footerFragment" class="sticky-footer bg-white"></footer>
			</div>
        </div>
        
        <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    </body>
    
    <script type="rv-template" id="calendal">
		<div class="calendalContent">
			<div class="calendalHead">
				<button class="prevBtn">&lt</button>
				<div class="calendalTitle">
					<div class="yearMonthTitle">2022.02</div>
				</div>
				<button class="nextBtn">&gt</button>
			</div>
							
			<div class="calendalMain">
				<div class="calendalDaies">
					<div class="calendalDay">일</div>
					<div class="calendalDay">월</div>
					<div class="calendalDay">화</div>
					<div class="calendalDay">수</div>
					<div class="calendalDay">목</div>
					<div class="calendalDay">금</div>
					<div class="calendalDay">토</div>
				</div>
				<div class="calendarDates"></div>
			</div>
		</div>
	</script>
</html>