<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>
	<h1>시작 페이지</h1>
	
	<button type="button" id="goMainBtn">메인페이지 이동</button>
</body>

<script type="text/javascript">
	window.addEventListener("DOMContentLoaded", function() {
		goMainPage();
	}) 


	function goMainPage () {
		document.querySelector("#goMainBtn").addEventListener("click", function () {
			location.href="../main";
		})
	}
</script>
</html>