<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Todo</title>
</head>
<body>
	<div class="popup">
		<p>할일 : <input name="todoContent" id="todoContent" type="text"></p>
		<div>
			<button type="button" class="addBtn">등록</button>
			<button type="button" class="cancleBtn">취소</button>
		</div>
	</div>
	
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function() {
			addClickEvent();
			cancleClickEvent();
			enterKeyDownEvent();
		})
		
		function addTransaction () {
			if(window.confirm("할일을 등록하시겠습니까??")) {
				let data = document.querySelector("#todoContent").value.trim();
				if (data.length < 1) {
					alert("할일을 작성해주세요.");
					return;
				}
				
				let xhr = new XMLHttpRequest();
				xhr.addEventListener("load", function(e){
					if (xhr.status == 200 && xhr.readyState == 4) {
						let result = e.target.responseText;
						if (result == "success") {
							alert("등록이 완료되었습니다.");
							opener.parent.location.reload();
							window.close();
						}
					}
				})
				
				xhr.open("POST", "../todo/addTodo");
				xhr.send(data);
			}
		}
		
		function addClickEvent() {
			document.querySelector(".addBtn").addEventListener("click",function(){
				addTransaction();
			})	
		}
		
		function enterKeyDownEvent() {
			let text = document.querySelector("#todoContent");
			text.addEventListener("keyup", function(e) {
				if (e.keyCode == 13) {
					addTransaction();
				}
			})
		}
		
		function cancleClickEvent() {
			document.querySelector(".cancleBtn").addEventListener("click",function(){
				if(window.confirm("창을 닫으시겠습니까??")) {
					window.close();
				}
			})	
		}
	</script>
</body>
</html>