<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/main_layout}">
<!-- <th:block th:fragment="todoListFragment"> -->
<div th:fragment="todoList">
	<input type="hidden" name="userIdx" id="userIdx" th:value="${findUser.idx}">
	<div class="mainHeader" style="margin-top:10px;height:10%;margin-bottom:10px;">
		<button type="button" id="newTodo" class="btn btn-success" style="float:right;margin-right:20px;">New Todo</button>
		<span type="button" style="float:right; margin-right:15%;">
			<i style="font-size:x-large;" class="far fa-calendar-alt calendar"></i>
		</span>
		<span style="float:right;margin-right:15%;">일일 달성률 : <b style="color:red;">0%</b></span>
	</div>
	
	<div style="height:60%;" id="todoList-space">
		
	</div>
	
	<div style="height:15%; margin-top:10px; display:flex; justify-content:center;" id="pagination-space">
		
	</div>
	
	<script type="tempalte" id="todoListTemplate">
		<table class="table table-striped table-hover">
			<colgroup>
				<col width="10%;">
				<col width="70%;">
				<col width="20%;">
			</colgroup>
			
			<thead>
				<tr>
					<th>idx</th>
					<th>content</th>
					<th>successYn</th>
				</tr>
			</thead>
			<tbody>
				{{#each content}}
				<tr>
					<td>{{todoIdx}}</td>
					<td>{{todoContent}}</td>
					<td value="{{successYn}}">
						<button type="button" class="btn btn-outline-primary">성공</button>									
						<button type="button" class="btn btn-outline-danger">실패</button>									
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</script>
	
	<script type="template" id="pagingTemplate">
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li class="page-item">
		      <a class="page-link" href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
			{{#each pageable}}
		    <li class="page-item"><a class="page-link" href="#">{{pageSize}}</a></li>
		    {{/each}}
		    <li class="page-item">
		      <a class="page-link" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</script>
</div>	
<!-- </th:block> -->